@import '../../styles/vars';

.page {
    margin-left: $navWidth;

    .page-title {
        background-color: $titleBackGroundColor;
        color: #222;
        padding: 1em;
        font-weight: bold;
    }
}

.page-content {

    padding: 1em;
}