@import '../../styles/vars';

.nav {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 1em;
    border-right: 4px solid $titleBackGroundColor;
    background-color: #dddddd;

    .nav-item {
        display: block;
        margin: 1em 1.5em;
        color: #222;
        cursor: pointer;

        &:hover {
            color: #777
        }

        &.active {
            color: $mainColor;
            font-weight: bold;
        }
    }
}